
.viaje{
    color: #212529;
    margin-left: 50px;
    font-size: 30px;
    margin-top: 20px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}

.texto{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 17px;
    font-family: arial;
    margin-left: 52px;

}
/*
p{
    vertical-align: text-bottom;
    margin-top:170px;
    margin-right: 20px;
    padding-left: 50px;
}

*/

.title{
    text-align: center;
    margin-left:800px;
}

.titleJournal{
    text-align: center;
    margin-left:800px;
    display: inline-block;
}

.parrafo{
    text-align:center;
    display:block;
}

.imgunete{
    margin-top: 20px;
    margin-left: 100px;
}

.titulo{
    text-align: center;
    margin-left:650px;
    display: inline-block;
    font-family: arial;
    padding-bottom: 1px;
}

/*********************************UNETE A NOSOTROS*******************************************************/
.imgun{
    margin-left: 110px;
    margin-right:128px;
    margin-bottom: 50px;
}

.pgun1{
    margin-top:-45px;
    margin-left: 220px;

}
.pgun2{
    margin-top:-45px;
    margin-left: 230px;
    margin-right: -200px;

}
.pun{
    display: inline-block;
    text-align: center;
    font-family: arial;
    margin-left:-300px;
    margin-top:10px;
    margin-bottom: 80px;
}

.pun1{
    display: inline-block;
    text-align: center;
    font-family: arial;
    margin-left: -10;
    margin-top:10px;
    margin-bottom: 80px;
    margin-right: 60px;
}

.pun2{
    display: inline-block;
    text-align: center;
    font-family: arial;
    margin-top:10px;
    margin-bottom: 80px;
}



/****************************INDEX**********************************/ 
 @keyframes aparecer {
    0% {
      opacity: 0;
    }
    50%{
        opacity:.5;
    }
    100% {
      opacity: 1;
    }
 }
  
 .iconos a {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 25px;

 }

 .iconos a i:hover {
    color:darkgray;
    transform: scale(1.1);
    transition: ease-in-out .1s;
}

.navbar-brand img{
    max-height: 70px;

}
.section1 img{
    width: 1000px;
}

.ppal img{
    height: 900px;
    width: 2500px;
}
.wear img{
    height: 588px;
}
.journey img{
    height: 588px;
}
.slide img{
    height: 590px;
}
.container-fluid div{
    display: flex;
}


/****************************Coleccion**********************************/ 
/*Es responsive,faltaria arreglar el boton de comprar en desktop*/
.producto img{
    max-width: 370px;
    max-height: 600px;
    margin-top: 10px;
    margin-bottom:40px ;
    margin-right: auto;
}
.btn{
    max-height: 45px;

}


.animate__animated{
    vertical-align: text-bottom;
    margin-top:170px;
    margin-right: 20px;
    padding-left: 50px;
}

