/***INDEX***/
@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

.iconos a i:hover {
  color: darkgray;
  transform: scale(1.1);
  transition: ease-in-out .1s; }

/*MAP*/
/*GET-MAP*/
.iconos a {
  text-decoration: none;
  color: white;
  margin: 10px;
  font-size: 25px; }

.navbar-brand img {
  max-height: 70px; }

.section1 img {
  width: 1000px; }

.ppal img {
  height: 500px;
  width: 500px; }

/*MIXIN*/
.slide img {
  height: 700px; }

.wear img {
  height: 657px; }

.journey img {
  height: 657px; }

/*
.container-fluid div{
    display: flex;
}




/*
.button{
    max-height: 50px;
    width: 200px;
    color: white;
    background-color: #212529;
    border-color: #212529;
    margin-top: 100px;
    
}
*/
.viaje, .titulo {
  color: #212529;
  margin-left: 50px;
  font-size: 30px;
  margin-top: 20px;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }

.animate__animated {
  vertical-align: text-bottom;
  margin-top: 50px;
  margin-right: 20px;
  padding-left: 50px;
  width: 100%; }

.hijo img {
  width: 100%;
  margin: 0auto;
  padding: 0auto; }

.hijo-text {
  display: flex;
  justify-content: center;
  align-items: center; }

.hijo-text h2 {
  font-size: 70px; }

/***COLECCION***/
/*Colores*/
.producto img {
  max-width: 370px;
  max-height: 600px;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-right: auto; }

.btn {
  max-height: 45px;
  color: white;
  background-color: black;
  border-color: black; }
  .btn:hover {
    background-color: darkgray;
    border-color: gray; }

.h1colect {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px; }

/***Unete a nosotros***/
.parrafo {
  text-align: center;
  /*display:block;*/ }

/*EXTENDS*/
.titulo {
  text-align: center;
  font-size: 30px;
  margin-left: 0px; }

.h1, h1 {
  font-size: 30px; }

/*
.unimg{
    max-height: 700px;
    max-width: 400px;
}

.card{
    border:0px;
}
*/
/***LIFT JOURNAL***/
.ppaljournal {
  height: 500px;
  width: 2000px; }

/*
.titleJournal{
    text-align: center;
    margin-left:800px;
    display: inline-block;
}
*/
/***CONTACTO***/
