@keyframes aparecer {
    0% {
      opacity: 0;
    }
    50%{
        opacity:.5;
    }
    100% {
      opacity: 1;
    }
 }

 .iconos a i:hover {
    color:darkgray;
    transform: scale(1.1);
    transition: ease-in-out .1s;
}

/*MAP*/
$estilos:(
    tdecoration:none,
    colorr:white,
    margen:10px,
    tamfuente:25px
);

/*GET-MAP*/
.iconos a{
    text-decoration: map-get($estilos, tdecoration );
    color: map-get($estilos ,colorr );
    margin:map-get($estilos,margen);
    font-size:map-get($estilos,tamfuente);
}

.navbar-brand img{
    max-height: 70px;

}
.section1 img{
    width: 1000px;
}

.ppal img{
    height: 500px;   
    width: 500px;
}



/*MIXIN*/
@mixin tamano($altura){
    height: $altura;
}
.slide img{
    @include tamano(700px)
}

.wear img{
    @include tamano(657px);
}
.journey img{
    @include tamano(657px)
}
/*
.container-fluid div{
    display: flex;
}




/*
.button{
    max-height: 50px;
    width: 200px;
    color: white;
    background-color: #212529;
    border-color: #212529;
    margin-top: 100px;
    
}
*/
.viaje{
    color: #212529;
    margin-left: 50px;
    font-size: 30px;
    margin-top: 20px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}

.animate__animated{
    vertical-align: text-bottom;
    margin-top:50px; //170px
    margin-right: 20px;
    padding-left: 50px;
    width: 100%;
}



.hijo img {

width:100%;

margin:0auto;

padding:0auto;

    }

    .hijo-text {

display:flex;

justify-content:center;

align-items:center;

    }

    .hijo-text h2 {

font-size:70px;

    }