@import "variables";

@keyframes aparecer {
    0% {
      opacity: 0;
    }
    50%{
        opacity:.5;
    }
    100% {
      opacity: 1;
    }
 }

 .iconos a i:hover {
    color:$color-hover;
    transform: scale(1.1);
    transition: ease-in-out .1s;
}

/*MAP*/
$estilos:(
    tdecoration:none,
    colorr:$color-letra,
    margen:10px,
    tamfuente:25px
);

/*GET-MAP*/
.iconos a{
    text-decoration: map-get($estilos, tdecoration );
    color: map-get($estilos ,colorr );
    margin:map-get($estilos,margen);
    font-size:map-get($estilos,tamfuente);
}

.navbar-brand img{
    max-height: 70px;

}
.section1 img{
    width: 1000px;
}

.ppal img{
    height: $tam-img;   
    width: $tam-img;
}

/*MIXIN*/
@mixin tamano($altura){
    height: $altura;
}
.slide img{
    @include tamano(700px)
}

.wear img{
    @include tamano(657px);
}
.journey img{
    @include tamano(657px)
}

.viaje{
    color: $color-fondo;
    margin-left:$top-margin;
    font-size: 30px;
    margin-top: $tam-margin;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}

.animate__animated{
    vertical-align: text-bottom;
    margin-top:$top-margin;
    margin-right: $tam-margin;
    padding-left: $top-margin;
    width: 100%;
}

.hijo img {

    width:100%;

    margin:0auto;

    padding:0auto;

    }

    .hijo-text {

        display:flex;

        justify-content:$text-centrado;

        align-items:$text-centrado;

    }

    .hijo-text h2 {

        font-size:70px;

    }