

.parrafo{
    text-align:center;
    /*display:block;*/
}





/*EXTENDS*/

.titulo {
    @extend .viaje;
    text-align: center;
    font-size:30px;
    margin-left: 0px;

}
.h1, h1 {
    font-size:30px;
}
/*
.unimg{
    max-height: 700px;
    max-width: 400px;
}

.card{
    border:0px;
}
*/