.imgun{
    margin-left: 110px;
    margin-right:128px;
    margin-bottom: 50px;
}

.pgun1{
    margin-top:-45px;
    margin-left: 220px;

}
.pgun2{
    margin-top:-45px;
    margin-left: 230px;
    margin-right: -200px;

}
.pun{
    display: inline-block;
    text-align: center;
    font-family: arial;
    margin-left:-300px;
    margin-top:10px;
    margin-bottom: 80px;
}

.pun1{
    display: inline-block;
    text-align: center;
    font-family: arial;
    margin-left: -10;
    margin-top:10px;
    margin-bottom: 80px;
    margin-right: 60px;
}

.pun2{
    display: inline-block;
    text-align: center;
    font-family: arial;
    margin-top:10px;
    margin-bottom: 80px;
}

.parrafo{
    text-align:center;
    display:block;
}

.imgunete{
    margin-top: 20px;
    margin-left: 100px;
}

.titulo{
    text-align: center;
    margin-left:650px;
    display: inline-block;
    font-family: arial;
    padding-bottom: 1px;
}

/*
.texto{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 17px;
    font-family: arial;
    margin-left: 52px;

}


.title{
    text-align: center;
    margin-left:800px;
}

*/