/*Colores*/
$color-fondo:black;
$color-titulos:black;
$color-letra:white;
$color-borde:black;
$color-hover:gray;

/*Tamaño de imagen*/
$tam-img:500px;
$tam-card:350px;


/*TAM LETRA*/
$tam-titulo:30px;

/*MARGIN*/
$tam-margin:20px;
$top-margin:50px;


/*Alineacion de texto*/
$text-centrado:center;
