
$color-fondo:black;
$color-titulos:black;
$color-letra:white;
$color-borde:black;
$color-hover:gray;

$tam-img:500px;
$tam-card:350px;


$tam-titulo:30px;
$tam-margin:20px;
$top-margin:50px;


$text-centrado:center;
